---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="SereniCookies | Tu pausa perfecta, en forma de cookie">
  <Header />
  <main>
    <Hero />
    <Products />
    <About />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
